<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Url Shortener Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SHORT_URL_API_BASE_URL" value="https://shorturl-dev.pdmfc.com/"/>
        <env name="SHORT_URL_API_ID" value="PDM"/>
        <env name="SHORT_URL_API_TOKEN" value="gYgyXsoXWE3HGQ1tJiOuRxr3I"/>
    </php>
</phpunit>
